.DS_Store
.DS_Store?
.idea
*.pyc
**/__pycache__/
checkpoints/
result/
imgs/*
*.pdf
*.out
*.csv
log/
scripts/hp_search
scripts/dataset_horizon
scripts/plot
run_com.sh
scripts/run_dsof.sh
scripts/run_dyname.sh
scripts/run_er.sh
scripts/run_fsnet.sh
scripts/run_multi_expert_moe_tsb_ablation_wth.sh
scripts/run_multi_expert_pretrain_only.sh
scripts/run_onenet.sh
scripts/run_patchtst_dgrad.sh
scripts/run_proceed.sh
prompt.md